@import "../../style/variables.scss";
// ============================Start Cart Page=====================================
.onepdt {
  background-color: white;
  border-bottom: 1px solid lightgray;
  a {
    color: $prColor;
    text-decoration: underline;
    font-weight: bolder;
  }
  .btn-danger {
    color: #fff;
    background-color: red !important;
  }
  .shopping-cart {
    width: 750px;
    height: auto;
    margin: 5em auto;
    background: #fff;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
  }

  /* item styling */
  .title {
    height: 3.75em;
    border-bottom: 1px solid #e1e8ee;
    padding: 1.25em 1.75em;
    color: #5e6977;
    font-size: 1.125em;
    font-weight: 400;
  }
  .item {
    padding: 1.25em 1.75em;
    height: 7.5em;
    display: flex;
  }
  .item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
  }

  .buttons {
    position: relative;
    padding-top: 1.75em;
    margin-right: 3.5em;
  }
  .minus-btn,
  .plus-btn {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 10px;
  }

  .delete-btn,
  .like-btn {
    display: inline-block;
    cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    color: white;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg")
      no-repeat center;
  }
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url("https://designmodo.com/demo/shopping-cart/twitter-heart.png");
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }

  .is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  @keyframes animate {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: right;
    }
  }

  .image {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .description {
    padding-top: 10px;
    width: 115px;
  }
  .description span {
    display: block;
    font-size: 1em;
    color: #43484d;
    font-weight: 400;
  }
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
  }

  .quantity {
    padding-top: 20px;
    input,
    input:disabled {
      text-align: center;
      width: 35px;
      font-size: 1em;
      color: #43484d;
      font-weight: 300;
      border: 1px slid #43484d;
      border-radius: 5px;
      background-color: #f8f6f5;
    }
  }

  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }

  button:focus,
  input:focus {
    outline: 0;
  }

  .total-price {
    padding-top: 27px;
    text-align: center;
    font-size: 1em;
    color: #43484d;
    font-weight: 300;
    p{
      font-weight: bold;
    }
  
  }  

 
  .total-price + div    span{
      background-color: #efefef;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 100%
    }
 
}
/* media queries */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
