@import "../../style/variables.scss";
@import "../../style/mixins.scss";

// ============================Start Home Page=====================================
// header
.head-text {
  text-align: left;
}
img.head-img img {
}
img.head-img {
  width: 500px;
}

// products
.products {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 11px;
  }
  .card {
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 11px $prColor;
    }
    img {
      height: 21vh;
      cursor: pointer;
      width: 100%;
      object-fit: contain;
      object-position: center;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .card-title {
      color: $pdtTitleTxt;
      font-weight: normal;
    }
    .card-text {
      h5 {
        color: $prColor;
        font-weight: normal;
      }
      h4 {
        font-weight: bold;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      > div button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 20px;
        padding: 0px;
        font-size: 21px;
      }
    }
  }
}
// toggle button
.toggle {
  position: relative;
  height: 14px;
  width: 50px;
  border-radius: 15px;
  background: #ddd;
  margin: 8px 0;
  margin-bottom: 56px;
}
td {
  float: right;
}
.toggle input {
  opacity: 0;
  width: 100%;
  height: 200%;
  position: absolute;
  top: -7px;
  left: 0;
  z-index: 2;
  margin: 0;
  cursor: pointer;
}

.toggle input:nth-child(2):checked {
  z-index: 1;
}

.toggle__pointer {
  position: absolute;
  top: -7px;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background-color: $prColor;
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.toggle input:nth-child(2):checked + .toggle__pointer {
  left: 22px;
  background-color: #495057;
}
.listItem {
  justify-content: space-between;
  width: 70% !important;
  flex-direction: row !important;
  padding: 4px 12px;
  margin: 0 auto;
  > img {
    width: 30% !important;
  }
  .card-body {
    margin-top: 5%;
    .card-text > div {
      width: 90%;
    }
  }
}
.gridItem {
  border: 22px solid blue;
}
